{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.liked_messages %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link"></a>

      <a href="/users/{{ message.user.id }}">
        <img src="{{ message.user.image_url }}"
             alt="user image"
             class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ message.user.id }}">@{{ message.user.username }}</a>
        <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
            </span>
        <p>{{ message.text }}</p>

        <div class="d-block">

          {% if message in g.user.messages %}

            <span>{{ message.liked_by|length }}</span>
            <i class="bi bi-heart-fill fs-3"></i>

          {% elif message in g.user.liked_messages%}

          <form method="POST" action="/messages/{{ message.id }}/like/delete">
            {{ g.csrf_form.hidden_tag() }}
            <span>{{ message.liked_by|length }}</span>
            <button class="btn btn-default"><i class="bi bi-heart-fill fs-3"></i></button>
          </form>

          {% else %}

          <form method="POST" action="/messages/{{ message.id }}/like">
            {{ g.csrf_form.hidden_tag() }}
            <span>{{ message.liked_by|length }}</span>
            <button class="btn btn-default"><i class="bi bi-heart fs-3"></i></button>
          </form>

          {% endif %}

        </div>
      </div>
    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}