{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.messages %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link"></a>

      <a href="/users/{{ user.id }}">
        <img src="{{ user.image_url }}"
             alt="user image"
             class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ user.id }}">@{{ user.username }}</a>
        <span class="text-muted">
              {{ message.timestamp.strftime('%d %B %Y') }}
            </span>
        <p>{{ message.text }}</p>


        <div class="d-block">

          {% if message in g.user.messages %}

            <span>{{ message.liked_by|length }}
              {% if message.liked_by|length == 1 %}
                Like
              {% else %}
                Likes
              {% endif %}
            </span>

          {% elif message in g.user.liked_messages%}

          <form method="POST" action="/messages/{{ message.id }}/like/delete">
            {{ g.csrf_form.hidden_tag() }}
            <input hidden name="requesting_url" value="{{ request.url }}">
            <span>{{ message.liked_by|length }}</span>
            <button class="btn btn-default">
              <i class="bi bi-heart-fill fs-3 like-button"></i>
            </button>
          </form>

          {% else %}

          <form method="POST" action="/messages/{{ message.id }}/like">
            {{ g.csrf_form.hidden_tag() }}
            <input hidden name="requesting_url" value="{{ request.url }}">
            <span>{{ message.liked_by|length }}</span>
            <button class="btn btn-default">
              <i class="bi bi-heart fs-3 like-button"></i>
            </button>
          </form>

          {% endif %}

      </div>
    </div>

    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}